*{
	padding: 0;
	margin: 0;
}

.menu{
    display: none;
    float: right;
    margin: 20px 30px 0px 0px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    display: flex;
    margin-top: 12px;
}
header{
	padding: 10px 40px;
}
header img{
	width: 130px;
    margin-top: 10px;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #8C4055;
    
}

li a:hover:not(.active) {
    background-color: #8C4055;
    color: #fff;
}

.active a {
    background-color: #8C4055;
    color: #fff;

}
h1{
  
    margin-top: 30px;
    color: #8C4055;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.image img{
    width: 400px;
    padding-left: 10px;
}
.paragraphe {
    width: 400px;
    padding-top: 90px;
    font-size: 20px;
    padding-left: 40px;
}

.best-vehicules {
    display: flex;
    flex-wrap: nowrap;
  }

.vehicules {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 30px;
    overflow-x: scroll;


  }
  .slide {
    display: inline-block;
    margin-right: 10px;
  }

  .slide img{
      width: 300px;
      height: 200px;
      border-radius: 2%;
  }


.customers {
    position: relative;
    padding: 70px 50px;
}

.customers p {
    margin-bottom: 20px;
}

.grp-msgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: top 25px;
}

.box {
    background-color: white;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    width: 40%;
    margin: 0 20px;
}


.box .box-img {
    margin: 20px 0;
}

.box .line-under-title {
    width: 85px;
    height: 4px;
    background-color: black;
    position: relative;
    border-radius: 2px;
}

.box .line-under-title .line-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 40px;
    height: 8px;
    background-color: var(--green);
}




footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 0 auto;
    grid-column-gap: 50px;
    padding: 40px 70px;
    background-color: #8C4055;
    color: rgb(218, 218, 218);
}

.titles {
    font-size: 1.4rem;
    color: var(--light);
    margin-bottom: 35px;
}

footer .company p {
    line-height: 30px;
    letter-spacing: 4px;
    font-size: 0.8rem;
}

footer .company h3 span {
    color: white;
}

footer .contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
}

footer .contact ul li {
    margin-bottom: 15px;
   
}

footer .contact ul li i {
    margin-right: 10px;
}

.grp-icons {
    display: flex;
    justify-content: space-between;
}

.grp-icons i {
    display: block;
}



.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
textarea{
    width: 100%;
    }
input[type=submit]:hover {
  background-color: #8C4055;
}
input[type=submit] {
 
  background-color: #BB7184;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=button] {
 
    background-color: #BB7184;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
div .btn{
    margin-left: 50%;
}

div .btn1{
    margin-top: 10%;
    
   
}
div .fromulaire{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* main*/
.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:calc(100vh - 70px);
	background: url(images/bg.jpg) rgba(1,1,1,0.95);
	background-position: center; 
	background-size: cover;

}
.main h1{
	font-size: 4rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}
.button {
  background-color: #8C4055;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.title{
	text-align: center;
	font-family: inherit;
}


h1{
    text-align: center;
    color: #8C4055;
    margin-top: 50px;
}

.type img{
    height: 230px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}

p{
    color: #C2A859;
    font-family: 'Roboto',sans-serif;
    display: flex;
}

.type{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -20px;
    height: 350px;
}

.type::-webkit-scrollbar{
    display:none;
}

.slide{
    display: inline-block;
}

.slide:hover{
    height: 280px;
    border: 5px solid #8C4055;
}



    .feul{
        color:#8C4055 ;
        text-align: center;
        margin-top: 20px;
        display: flex;
        margin-left: 33%;
    }

    .carburant{
        margin-right: 50px;
    }



    .gear-box{
        color:#8C4055 ;
        text-align: center;
        margin-top: 20px;
        display: flex;
        margin-left: 41%;
    }

    .gear{
        margin-right: 50px;
    }

   

    .duration{
        color:#8C4055 ;
        text-align: center;
        margin-top: 20px;
        display: flex;
        margin-left: 36%; 
    }

    .du{
        margin-right: 50px;
    }













































@media screen and (max-width: 1200px){

    .menu{
        display: block;
    }

    ul {
        display: none;
    }
    header{
        padding: 10px 40px;
    }
    header img{
        width: 130px;
    
    }
    
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        color: #8C4055;
        
    }
    
    li a:hover:not(.active) {
        background-color: #8C4055;
        color: #fff;
    }
    
    .active a {
        background-color: #8C4055;
        color: #fff;
    
    }
    h1{
      
        margin-top: 30px;
        color: #8C4055;
    }
    .content{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .image img{
        width: 400px;
        padding-left: 10px;
    }
    .paragraphe {
        width: 400px;
        padding-top: 90px;
        font-size: 20px;
        padding-left: 40px;
    }
    
    .best-vehicules {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    
    
      }
    
    .vehicules {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 30px
    
    
      }
      .slide {
        display: inline-block;
        margin-right: 10px;
      }
    
      .slide img{
          width: 300px;
          height: 200px;
          border-radius: 2%;
      }
 
    .customers {
        position: relative;
        padding: 70px 50px;
    }
    
    .customers p {
        margin-bottom: 20px;
    }
    
    .grp-msgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: top 25px;
        overflow-x: scroll;
    }
    
    .box {
        background-color: white;
        border-radius: 15px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px gray;
        width: 40%;
        margin: 0 20px;
       
    }
    
    .box .box-img {
        margin: 20px 0;
    }
    
    .box .line-under-title {
        width: 85px;
        height: 4px;
        background-color: black;
        position: relative;
        border-radius: 2px;
    }
    
    .box .line-under-title .line-center {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 40px;
        height: 8px;
        background-color: var(--green);
    }
    
    
    
    
    footer {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        margin: 0 auto;
        grid-column-gap: 50px;
        padding: 40px 70px;
        background-color: #8C4055;
        color: rgb(218, 218, 218);
    }
    
    .titles {
        font-size: 1.4rem;
        color: var(--light);
        margin-bottom: 35px;
    }
    
    footer .company p {
        line-height: 30px;
        letter-spacing: 4px;
        font-size: 0.8rem;
    }
    
    footer .company h3 span {
        color: white;
    }
    
    footer .contact ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        float: left;
        text-align: left;
    }
    
    footer .contact ul li {
        margin-bottom: 15px;
       
    }
    
    footer .contact ul li i {
        margin-right: 10px;
    }
    
    .grp-icons {
        display: flex;
        justify-content: space-between;
    }
    
    .grp-icons i {
        display: block;
    }
    
    
    
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    
    }
    textarea{
        width: 100%;
        }
    input[type=submit]:hover {
      background-color: #8C4055;
    }
    input[type=submit] {
      width: 50%;
      background-color: #BB7184;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 20%;
      margin-left: 40%;
    }
    
    div .fromulaire{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    /* main*/
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:calc(100vh - 70px);
        background: url(images/bg.jpg) rgba(1,1,1,0.95);
        background-position: center; 
        background-size: cover;
    
    }
    .main h1{
        font-size: 4rem;
        color: white;
        text-shadow: 0px 0px 10px black;
    }
    .button {
      background-color: #8C4055;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    .title{
        text-align: center;
        font-family: inherit;
    }
    
    
    h1{
        text-align: center;
        color: #8C4055;
        margin-top: 50px;
    }
    
    .type img{
        height: 230px;
        border-radius: 25px;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    p{
        color: #C2A859;
        font-family: 'Roboto',sans-serif;
        display: flex;
    }
    
    .type{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-bottom: -20px;
        height: 350px;
    }
    
    .type::-webkit-scrollbar{
        display:none;
    }
    
    .slide{
        display: inline-block;
    }
    
    .slide:hover{
        height: 280px;
        border: 5px solid #8C4055;
    }
    
    
    
        .feul{
            color:#8C4055 ;
            text-align: center;
            margin-top: 20px;
            display: flex;
            margin-left: 33%;
        }
    
        .carburant{
            margin-right: 50px;
        }
    
    
    
        .gear-box{
            color:#8C4055 ;
            text-align: center;
            margin-top: 20px;
            display: flex;
            margin-left: 41%;
        }
    
        .gear{
            margin-right: 50px;
        }
    
       
    
        .duration{
            color:#8C4055 ;
            text-align: center;
            margin-top: 20px;
            display: flex;
            margin-left: 36%; 
        }
    
        .du{
            margin-right: 50px;
        }

}